<!DOCTYPE html>
<html data-wf-site="5649c7988b8168f16dcf1bf1" data-wf-page="564c34ce2ff073d41da71d4b">

<title>Admin</title>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/dron-terrestre.webflow.css">
<script type="text/javascript" src="/libs/jQuery-2.1.4.min.js"></script>

<!-- INICIO MENU -->
<div class="wrapper">
  <div data-collapse="all" data-animation="default" data-duration="400" data-contain="1" class="w-nav navigation-bar">
    <div class="w-container b-container">
      <header class="main-header">
        <a href="/" class="w-nav-brand brand-link"><h1 class="brand-text">Sense-Rover</h1></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-custom-menu menu-gork">
            <ul class="nav navbar-nav">
              <!-- User Account-->
              <li class="dropdown user user-menu">
                {{#if datosUsuario}}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src='{{datosUsuario.avatar}}' class="user-image" alt="User Image">
                  <span class="hidden-xs">{{datosUsuario.usuario}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src='{{datosUsuario.avatar}}' class="img-circle" alt="User Image">
                    <p>
                      {{datosUsuario.usuario}}
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="/perfil" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="/cerrar" class="btn btn-default btn-flat">Cerrar Sesión</a>
                    </div>
                  </li>
                </ul>
                {{else}}
                <a href="#" data-target="#ModalLoginRegistro" data-toggle="modal" data-target=".bs-example-modal-sm" role="button">
                  <span>Entrar</span> </a>
                {{/if}}
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-bars"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <ul class="sidebar-menu">
          <li class="header">MENÚ PRINCIPAL</li>
          <li>
            <a href="/">
              <i class="fa fa-home"></i> <span>Inicio</span>
            </a>
          </li>
          <li>
            <a href="/administracion">
              <i class="fa fa-cogs"></i> <span>Administración</span>
            </a>
          </li>
          <li>
            <a href="/tienda/5693728d3890294f10406189">
              <i class="fa fa-shopping-cart"></i> <span>Tienda</span>
            </a>
          </li>
        </ul>

      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
                   immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
  </div>
</div>
<!-- FIN MENU -->

<div id="admin" class="w-section section grafic">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#productos">Productos</a></li>
        <li><a data-toggle="tab" href="#drones">Drones</a></li>
        <li><a data-toggle="tab" href="#usuarios">Usuarios</a></li>
      </ul>
      <div class="tab-content">
        <div id="productos" class="tab-pane fade in active">
          <!-- productos -->
          <div class="table-responsive">
            <table class="table table-striped" border="1">
              <th>Nombre</th>
              <th>Precio</th>
              <th>Imagenes</th>
              <th>Especificaciones</th>
              <th>Opiniones</th>
              <th>Accion</th>
              {{#each productos}}
              <!--<p>{{this}}</p>-->
              <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.precio}}</td>
                <td>
                  <ol>
                    {{#each this._doc.imagenes}}
                    <li>{{this.descripcion}} : {{this.url_img}}</li>
                    {{/each}}
                  </ol>
                </td>
                <td>
                  {{#each this._doc.especificaciones}}
                  <li>{{this.nombre}}:{{this.valor}}</li>
                  {{/each}}
                </td>
                <td>
                  {{#each this._doc.opiniones}}
                  <li>{{this.nombre}}{{this.valoracion}}</li>
                  {{this.opinion}} {{/each}}
                </td>
                <td>
                  <button class="btn-primary">modificar</button>
                  <button class="btn-danger">borrar</button>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
          <!-- Fin productos -->
        </div>
        <!-- tab productos -->
        
        <!-- Drones -->
        <div id="drones" class="tab-pane fade">
          <div class="table-responsive">
            <table class="table table-striped" border="1">
              <th>Producto</th>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Subscripcion</th>
              <th>Fecha de compra</th>
              <th>Fecha de caducidad</th> 
              <th>Activo</th> 
              <th>Accion</th>
              {{#each drones}}
              <tr>
                <td>{{this.id_producto}}</td>
                <td>{{this.id_usuario}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.tipo_subscripcion}}</td>
                <td>{{this.fecha_compra}}</td>
                <td>{{this.fecha_caducidad}}</td>
                <td>{{this.activo}}</td>
                <td>
                  <button class="btn-primary">modificar</button>
                  <button class="btn-danger">borrar</button>
                </td>              
              </tr>
              {{/each}}
            </table>  
          </div>  
        </div>  
        <!-- drones -->
        
        <!-- usuarios -->
        <div id="usuarios" class="tab-pane fade">
          <div class="table-responsive">
            <table class="table table-striped" border="1">    
              <th>Email</th>
              <th>Usuario</th>
              <th>Clave de activacion</th>
              <th>Avatar</th>
              <th>Fecha ultima conexion</th>
              <th>Usuario activado</th> 
              <th>Admin</th> 
              <th>Contraseña</th>
              <th>Accion</th>
              {{#each datosUsuarioTodos}}
              <tr>
                <td>{{this.email}}</td>
                <td>{{this.usuario}}</td>
                <td>{{this.activacion_key}}</td>
                <td>{{this.avatar}}</td>
                <td>{{this.ultima_conexion}}</td>
                <td>{{this.validated}}</td>
                <td>{{this.admin}}</td>
                <td><button class="btn-warning">resetear contraseña</button></td>
                <td>
                  <button class="btn-primary">modificar</button>
                  <button class="btn-danger">borrar</button>
                </td>              
              </tr>
              {{/each}}
            </table>  
          </div>
          <!-- table usuarios -->
        </div>
        <!-- tab-pane -->
      </div>
      <!-- tab content -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>  
<!-- seccion -->


<div id="admin_drones">
  <div class="container">
    <div class="row">
  
      <!-- acordeon -->
      <h3>Drones</h3>
      <div class="accordion">
        {{#each drones}}
        <h3>{{@index}}.{{this.nombre}}</h3>
        <div>
          <p>{{this.fecha_caducidad}}</p>
          <p>{{this.fecha_compra}}</p>
          <p>{{this.id_usuario}}</p>
        </div>
        {{/each}}
      </div>
      <!-- acordeon -->      
      <br>
    </div>
  </div>
</div>



{{>footer}}

<script>
  $(function() {
    $(".accordion").accordion();
  });
</script>

<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="/libs/jQuery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/modernizr.js"></script>
<script type="text/javascript" src="/libs/jquery-ui-1.11.4/jquery-ui.min.js"></script>